<h1 style="text-align: center;color: orange;">* Regex Challenge *</h1>
<%= link_to 'Output Challenge', challenges_output_play_path, :class => "btn btn-warning" %>
<%= form_tag '/challenges/regex_check' do%>
<h3>Input string:</h3>
<div class="span4" style="border:2px solid;float: left; height: 2em; font-size: 20px;background-color: #E2E9E7">
  <%= @string %>
</div>
<%= hidden_field_tag :string, @string %>
<br><br>
<h3>Desired output:</h3>
<div class="span4" style="border:2px solid;float: left; height: 2em; font-size: 20px;background-color: #E2E9E7">
    <%= @expected_output %>
</div>
<%= hidden_field_tag :expected_output, @expected_output %>
<br><br>
<h3> Regex: </h3>
<div class="input-prepend input-append span4">
  <span class="add-on"><b>/</b></span>
  <input name="submission" value="<%= @submission %>"class="span4" id="appendedPrependedInput" type="text" autocomplete="off" style="font-size: 20px;">
  <span class="add-on"><b>/</b></span>
</div>
<br><br>
<%= button_tag 'Submit Regex', :class => "btn btn-primary" %>

<% end %>

<% if @correct == true %>
  <h2 style="color: red">Great job!</h2>
  <%= link_to 'Next Challenge', challenges_regex_play_path, :class => "btn btn-primary"%>
<% elsif @correct == false %>
  <h2 style="color: blue">Not quite.</h2>
   <h3>Your current output:</h3>
  <div class="span4" style="border:2px solid;float: left; height: 2em; font-size: 20px;background-color: #E2E9E7"">
    <%= @current_output %>
  </div>
<% end %>