<%= notice %>
<% if current_user %>
Welcome <%= current_user.name %>
<%= link_to "Sign out", signout_path %>
<% end %>
<h1 style="text-align: center;color: orange;">* Regex Challenge *</h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= link_to 'Output Challenge', challenges_output_play_path, :class => "btn btn-warning" %>

      <%= form_tag challenges_regex_check_path, :remote => true do%>
        <h3>Input string:</h3>
        <div class="span4" style="border:2px solid;float: left; height: 2em; font-size: 20px;background-color: #E2E9E7">
          <%= @string %>
        </div>
        <%= hidden_field_tag :string, @string %>
        <%= hidden_field_tag :challenge_id, @challenge_id %>
        <br><br>
        <h3>Desired output:</h3>
        <div class="span4" style="border:2px solid;float: left; height: 2em; font-size: 20px;background-color: #E2E9E7">
            <%= @expected_output %>
        </div>
        <%= hidden_field_tag :expected_output, @expected_output %>
        <br><br>
        <h3> Regex: </h3>
        <div class="input-prepend input-append span4">
          <span class="add-on" style="border:2px solid;"><b>/</b></span>
          <input name="submission" value="<%= @submission %>" class="span9" id="appendedPrependedInput" type="text" autocomplete="off" style="font-size: 20px; border:2px solid;">
          <span class="add-on" style="border:2px solid;"><b>/</b></span>
        </div>
        <br><br><br>
        <div id="timer">
          <h4 style="float: left; position: relative; bottom: 11px;">Time: </h4>
          <span id="sinceCompact" class="countdown" style="position: relative; left: 1%;">
          <!-- <span class="countdown_row countdown_amount"></span> -->
          </span>
        </div>
        <br><br>
        <%= button_tag 'Submit Regex', :class => "btn btn-primary", :id => "submit" %>
        <br><br>
        <%= link_to 'Next Challenge', challenges_regex_play_path, :class => "btn btn-warning", :id => "next_challenge" %>
        <%= hidden_field_tag :time, @time, :id => "time"%>
      <% end %>
      <div id="regex_results">

      </div>
    </div>
    <div class="span6">
      <div class="span8" id="friends_list" style="height: 200px; border: 2px solid; clear:right; margin-bottom: 3%;">
        <%= render 'shared/friends_list' %>
      </div>
      <%= link_to "Update", challenges_friends_list_path, :class => "btn btn-primary", :id => "update_friends", :style => "display: inline-block; float: left;  clear: left;", :remote => true%>
      <%= link_to "Enter Arena", users_enter_arena_path, :class => "btn btn-primary", :id => "enter_arena", :style => "display: inline-block; float: left; margin-left: 1%;", :remote => true %>
      <%= link_to "Exit Arena", users_exit_arena_path, :class => "btn btn-primary", :id => "exit_arena", :style => "display: inline-block; float: left; margin-left: 1%;", :remote => true %>

      <div class="span8" id="leader_board" style="height: 200px; border: 2px solid; clear:both; margin-bottom: 3%; margin-top: 8%;">
        <%= render 'shared/leader_board' %>
      </div>
    </div>
  </div>
</div>


